@font-face {
    font-family: comic-neue;
    src: url(./ComicNeue-Bold.ttf);
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body p {
    margin-top: 1rem;
    text-align: center;
    font-family: comic-neue;
    cursor: pointer;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid saddlebrown;
    margin-top: 20vh;
}

body div div {
    border: 1px solid saddlebrown;
    display: grid;
    place-items: center;
    height: min(30vw, 200px);
    width: min(30vw, 200px);
    font-size: calc(3rem + 6vw);
    font-family: comic-neue;
}

.win {
    background-color: aquamarine;
    font-size: calc(4rem + 6vw)
}

.overlay {
    opacity: 0.3;
    position: absolute;
    height: min(90vw, 600px);
    width: min(90vw, 600px);
    background-color: palevioletred;
}

.result {
    font-size: calc(2rem + 5vw);
}